body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #b0acac
}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border:2px solid  rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}
h1{
    font-size: 2rem;
    color: #fefffe;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid  #fefffe;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fefffe;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.inputbox input:focus + label,
.inputbox input:valid + label {
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fefffe;
}
i {
    position: absolute;
    right: 8px;
    color: #fefffe;
    font-size: 1.2rem;
    top: 20px;
}
.forget{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fefffe;
    display: flex;
}
.forget label{
    display: flex;
    align-items: center;
}
.forget label input{
    margin-right: 3px;
}
.forget a{
    color: #fefffe;
    text-decoration: none;
    font-weight: 600;
}
.forget a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
button:hover{
    background-color: rgb(255, 255, 255, 0.5);
}
.register{
    font-size: 0.9rem;
    color: #fefffe;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fefffe;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.forget-link {
    margin-left: 65px; /* Отступ */
}
.inputbox .toggle-password {
    position: absolute;
    right: 8px; /* Расположение значка глаза */
    top: 20px;
    color: #fefffe;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}


#women {
    position: fixed;
    right: 0px; /* Расположение изображения в правом углу */
    bottom: 5px; /* Расположение изображения в нижнем углу */
    width: 350px; /* Ширина */
    height: auto; /* Сохраняет пропорции изображения */
}
@media screen and (max-width: 980px) {
    #women {
        display: none;
    }
}
