/* Карточка */
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 400px; /* Увеличиваем ширину */
    height: 150px; /* Увеличиваем высоту */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    margin-bottom: 20px; /* Отступ между карточками */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Секция изображения */
.card-image {
    flex-shrink: 0;
    width: 150px; /* Увеличиваем размер изображения */
    height: 150px;
    overflow: hidden;
    border-right: 1px solid #ddd;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Содержимое карточки */
.card-content {
    padding: 20px; /* Увеличиваем отступы */
    flex-grow: 1;
}

/* Заголовок */
.card-title {
    margin: 0 0 10px;
    font-size: 20px; /* Увеличиваем шрифт */
}

.card-title a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card-title a:hover {
    color: #2482ea;
}

/* Метаданные */
.card-meta {
    font-size: 14px; /* Увеличиваем шрифт */
    color: #666;
}
.card-container {
    margin-bottom: 20px; /* Разделяет карточки друг от друга */
}

.card-repost {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Отступ от карточки */
    background-color: #f9f9f9; /* Светлый фон для репоста */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.repost-avatar img {
    width: 40px; /* Размер аватара */
    height: 40px;
    border-radius: 50%; /* Круглый аватар */
    object-fit: cover; /* Корректное отображение изображения */
}

.repost-message p {
    margin-left: 2%;
    padding: 0;
    text-align: left; /* Выравнивание текста по левому краю */
    font-size: 14px; /* Размер текста */
    line-height: 1.4; /* Межстрочный интервал */
}


.repost-message {
    flex-grow: 1;
    font-size: 14px;
    color: #555;
}

/*.card-message {*/
/*    text-align: center; !* Центрирование текста *!*/
/*    margin-bottom: 10px; !* Отступ от карточки *!*/
/*    font-size: 16px; !* Размер шрифта для сообщения *!*/
/*    font-weight: bold;*/
/*    color: #333; !* Цвет текста *!*/
/*}*/


