.header-background {
    height: 300px; /* Высота фона */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.navbar-nav .profile-item {
    position: absolute;
    right: 20px;
}

.nav-link.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #fff; /* Белая граница */
    transition: transform 0.3s ease;
}

.nav-link.profile img:hover {
    transform: scale(1.1); /* Увеличение при наведении */
}

