body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 6, 10, 0.35);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ccc;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container {
    display: flex; /* Используем flexbox для управления дочерними элементами */
    flex-direction: column; /* Если элементы располагаются вертикально */
    width: 80%; /* Или другая фиксированная ширина */
    margin: 0 auto; /* Центрируем контейнер, если нужно */
}

.profile-header {
    display: flex; /* Используем flexbox для управления дочерними элементами */
    align-items: flex-start; /* Располагаем элементы по началу контейнера по высоте */
    padding: 20px;
    width: 100%; /* Устанавливаем ширину в 100% от родительского контейнера */
}

.profile-info {
    flex: 1; /* Позволяет блоку занимать всю доступную ширину */
    padding: 30px; /* Внутренние отступы для лучшего вида */
    background-color: #fafafa; /* Легкий серый фон */
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.profile-photo {
    margin-bottom: 20px;
}

.profile-photo img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-info h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.profile-info p {
    margin: 15px 0;
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

.profile-info p strong {
    color: #007bff;
    font-weight: 600;
}

.profile-info p:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Адаптивные стили */
@media (min-width: 925px) {
    .profile-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .profile-header {
        flex-direction: row;
    }

    .profile-photo {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .profile-info {
        text-align: left;
        width: auto; /* Устанавливаем автоматическую ширину */
        flex-grow: 1; /* Заставляем блок информации занимать доступное пространство */
        padding: 30px; /* Дополнительные отступы */
    }
}
