/* Общие стили для секции поиска */
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; /* Светло-серый фон */
    border-bottom: 1px solid #ddd; /* Граница снизу */
    margin-bottom: 20px; /* Отступ снизу для отделения от контента */
}

/* Стили формы поиска */
.search-form {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для формы */
}

/* Стили текстового поля */
.searching-input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 25px 0 0 25px; /* Округленные углы слева */
    outline: none;
    font-size: 16px;
}

/* Стили кнопки поиска */
.searching-button {
    background-color: #007bff; /* Синий фон */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 25px 25px 0; /* Округленные углы справа */
    transition: background-color 0.3s;
}

/* Стили кнопки поиска при наведении */
.searching-button:hover {
    background-color: #0056b3; /* Более темный синий при наведении */
}

/* Стили для меню под поисковой строкой */
.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #f0f0f0; /* Цвет фона меню */
    border-top: 1px solid #ddd; /* Верхняя граница */
    border-bottom: 1px solid #ddd; /* Нижняя граница */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для элементов меню */
.menu-item {
    padding: 10px 20px;
    color: #007bff; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный текст */
    font-size: 16px;
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

/* Стили для элементов меню при наведении */
.menu-item:hover {
    color: #0056b3; /* Цвет при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
}
.highlight {
    background-color: yellow;
    color: black;
    font-weight: bold;
}
