.courses-button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.course-form button:hover {
    background: #0056b3;
}

/* Затемнение фона */
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.modal-content-container {
    background-color: #fff;
    margin: 100px auto;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content-container h3 {
    text-align: center;
    margin-bottom: 25px;
}

#visibilityForm label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
}

#visibilityForm label:hover {
    background-color: #f1f1f1;
}

#visibilityForm input[type="radio"] {
    margin-left: 10px;
}

#visibilityForm button {
    margin-top: 20px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#visibilityForm button:hover {
    background-color: #0056b3;
}

#customUsersBlock {
    margin-top: 15px;
}

/* Крестик (кнопка закрытия) */
.close {
    position: absolute;
    top: 10px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
}

.close:hover {
    color: red;
}

/* Стили списка статей */
#articles-list {
    flex-grow: 1; /* Позволяет списку заполнять пространство */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    max-height: calc(80vh - 100px); /* Высота списка с учетом заголовка */
    padding-right: 15px; /* Отступ справа для удобного скролла */

}