/* Контейнер формы */
.article-form {
    background-color: #f9f9f9; /* Молочный фон */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    font-family: 'Arial', sans-serif;
    z-index: 1;
}

/* Общие стили для input и textarea */
form input[type="text"],
form input[type="number"],
form input[type="url"],
form textarea,
form select {
    width: calc(100% - 20px);
    padding: 12px; /* Увеличены отступы */
    margin-bottom: 20px;
    border: 1px solid #b0e0e6; /* Цвет рамки */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* Плавное изменение цвета рамки */
    background-color: #ffffff; /* Фон полей ввода */
}

/* Изменение цвета рамки при фокусе */
form input[type="text"]:focus,
form input[type="url"]:focus,
form textarea:focus,
form select:focus {
    border-color: #000000; /* Черная рамка при фокусе */
    outline: none; /* Убираем стандартный фокус */
}

/* Стиль для textarea */
form textarea {
    height: 200px;
}

/* Стили для input file */
form input[type="file"] {
    margin-bottom: 20px;
    padding: 10px; /* Добавлены отступы для кнопки */
    border: 1px solid #b0e0e6; /* Цвет рамки */
    border-radius: 5px;
    background-color: #ffffff; /* Фон кнопки */
}

/* Кнопка отправки */
.custom-submit-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Цвет кнопки */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s; /* Плавное изменение фона и эффекта нажатия */
}

/* Стиль при наведении */
.custom-submit-button:hover {
    background-color: #0056b3; /* Другой цвет при наведении */
}

/* Эффект нажатия */
.custom-submit-button:active {
    transform: scale(0.98); /* Уменьшение размера кнопки при нажатии */
}

/* Контейнер для изображения */
.image-preview-container {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

/* Предварительный просмотр изображения */
.cover-image-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Кнопка удаления */
.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    z-index: 10;
}

/* Стиль кнопки удаления при наведении */
.remove-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Стили модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    color: red;
    float: right;
    font-size: 24px;
    cursor: pointer;
}
.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    position: relative; /* Для абсолютного позиционирования кнопки */
}

/* Кнопка для модального окна */
.modal button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; /* Позиционируем кнопку */
    right: 10px; /* Отступ от правого края */
    bottom: 10px; /* Отступ от нижнего края */
}

/* Стиль кнопки модального окна при наведении */
.modal button:hover {
    background-color: #0056b3;
}
