/* Контейнер формы */
form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    font-family: 'Arial', sans-serif;
    z-index: 1;
}

form input[type="text"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea {
    height: 200px;
}

/* Стили для input file и последнего input[type=text] */
form input[type="file"],
form input[type="text"]:last-of-type {
    margin-bottom: 20px;
    font-size: 14px;
}

/* Кнопка отправки */
form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Контейнер для изображения */
.image-preview-container {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

/* Предварительный просмотр изображения */
.cover-image-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Кнопка удаления */
.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    z-index: 10;
}

.remove-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
