/* Контейнер формы */
.article-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    font-family: 'Arial', sans-serif;
    z-index: 1;
}

form input[type="text"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea {
    height: 200px;
}

/* Стили для input file и последнего input[type=text] */
form input[type="file"],
form input[type="text"]:last-of-type {
    margin-bottom: 20px;
    font-size: 14px;
}

/* Кнопка отправки */
.custom-submit-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стиль при наведении */
.custom-submit-button:hover {
    background-color: #0056b3; /* Другой цвет при наведении */
}

/* Контейнер для изображения */
.image-preview-container {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

/* Предварительный просмотр изображения */
.cover-image-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Кнопка удаления */
.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    z-index: 10;
}

.remove-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Стили модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.close {
    color: red;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modes-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mode-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mode-button:hover {
    background-color: #0056b3;
}

.formula {
    font-family: "Courier New", monospace; /* Шрифт для формул */
    background-color: #f9f9f9; /* Цвет фона для выделения */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block; /* Отображение как блочный элемент для центрирования */
    margin: 5px 0; /* Отступы сверху и снизу */
}

/* Стили для спойлеров */
details {
    background-color: #f0f0f0; /* Цвет фона для спойлеров */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0; /* Отступы сверху и снизу */
}

summary {
    cursor: pointer; /* Указатель для курсора на заголовке спойлера */
    font-weight: bold; /* Выделение заголовка спойлера */
}

summary:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}



