.content-section {
    max-width: 1000px;
    margin: 80px auto; /* Отступ сверху и снизу */
}

.content-description {
    display: block; /* Блоковый элемент для размещения всех элементов вертикально */
    margin-bottom: 20px; /* Отступ между описанием и репостами */
}

.description-container {
    display: flex;
    align-items: center; /* Вертикальное выравнивание текста и изображения */
    gap: 20px; /* Отступ между текстом и изображением */
    margin-bottom: 20px; /* Отступ снизу */
}

.content-image img {
    max-width: 100%;
    width: 150px; /* Установите желаемую ширину изображения */
    height: auto;
    border-radius: 5px;
}


.content-image img {
    max-width: 100%;
    width: 350px; /* Ширина изображения */
    height: auto;
    border-radius: 5px;
}

.content-text {
    font-size: 1em;
    line-height: 1.5em;
    max-width: 1000px;
    margin: 0 auto; /* Центрируем текст */
}

.reposts-articles-container {
    display: flex;
    flex-direction: column; /* Репосты будут располагаться вертикально */
    gap: 15px; /* Расстояние между репостами */
    margin-top: 20px; /* Отступ сверху для отделения от описания */
}

.repost-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Растягиваем карточку на всю ширину контейнера */
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#content-section {
    padding: 20px;
}

.content-page {
    display: block;
    animation: fadeIn 0.5s ease;
}

.hidden {
    display: none;
}
/* Адаптация под планшеты */
@media (max-width: 1024px) {
    .content-section {
        margin: 50px auto;
    }
    .description-container {
        gap: 15px;
    }
    .content-image img {
        width: 300px;
    }
}

/* Адаптация под мобильные */
@media (max-width: 768px) {
    .content-section {
        margin: 40px auto;
        padding: 0 15px;
    }
    .description-container {
        flex-direction: column; /* Размещаем элементы в колонку */
    }
    .content-image img {
        width: 100%; /* Занимает всю ширину */
        max-width: 280px; /* Но не больше 280px */
    }

}