.content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px; /* Ограничение по ширине для улучшенного выравнивания */
    margin: 80px auto; /* 80 px - отступление после строки и перед футером */
}


.content-image {
    float: right;
    margin-left: 20px;
}

.content-image img {
    max-width: 100%;
    width: 350px; /* Установите желаемую ширину */
    height: auto; /* Высота будет автоматически изменяться в соответствии с пропорциями */
    border-radius: 5px;
}
.content-text {
    font-size: 1em;
    line-height: 1.5em;
    display: flex; /* Горизонтальное расположение текста и изображения */
    align-items: center; /* Вертикальное выравнивание */
    gap: 20px; /* Расстояние между текстом и изображением */
    max-width: 1000px; /* Ограничение ширины для более аккуратного отображения */
    margin: 0 auto; /* Центрирование секции */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#content-section {
    padding: 20px;
}

.content-page {
    display: block;
    animation: fadeIn 0.5s ease;
}

.hidden {
    display: none;
}
