/* Profile Menu Styles */
.profile-navigation {
    width: 50%; /* Устанавливаем ту же ширину, что и у контейнера профиля */
    margin: 20px auto; /* Центрируем навигационное меню и добавляем отступ сверху */
    position: relative;
    border-bottom: 2px solid #ddd;
}

.navigation-items {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.navigation-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navigation-item:hover {
    color: #007bff;
}

.navigation-item.active {
    color: #007bff;
}

.navigation-indicator {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 100px;
    background-color: #007BFF;
    transition: left 0.3s ease, width 0.3s ease;
}

.navigation-item.active ~ .navigation-indicator {
    left: 0;
    width: 100px;
}
@media (max-width: 1024px) {
    .profile-navigation {
        width: 70%; /* Увеличиваем ширину на планшетах */
    }
}

@media (max-width: 768px) {
    .profile-navigation {
        width: 90%; /* Уменьшаем ширину для мобильных */
    }

    .navigation-items {
        flex-direction: column; /* Располагаем элементы в колонку */
        align-items: center;
    }

    .navigation-item {
        padding: 10px 0; /* Уменьшаем отступы */
        display: block;
        width: 100%;
        text-align: center;
    }

    .navigation-indicator {
        display: none; /* Прячем индикатор на мобильных, если он не нужен */
    }
}