/* Стили для основного HTML и body */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Основной контейнер страницы */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота страницы */
}

/* Контент страницы, который растягивается между хедером и футером */
.content {
    flex: 1; /* Занимает всё доступное пространство */
}

/* Стили футера */
.footer-container {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around; /* Выравнивание колонок по горизонтали */
    padding: 20px 0;
    text-align: left;
    margin-top: auto; /* Прижимает футер к низу */
    width: 100%;
}

/* Колонки футера */
.footer-column {
    width: 30%;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.footer-column p {
    font-size: 0.9em;
    line-height: 1.5em;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #007BFF;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}
